@model SongScreenerMvc.Models.Entity.Artist

@{
    ViewBag.Title = "Create";
}

<h2>创建歌手</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>歌手</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtistName,"歌手名")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArtistName)
            @Html.ValidationMessageFor(model => model.ArtistName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtistGender, "性别")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistGender", String.Empty)
            @Html.ValidationMessageFor(model => model.ArtistGender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtistHometown, "类别")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistHometown", String.Empty)
            @Html.ValidationMessageFor(model => model.ArtistHometown)
        </div>

        <p>
            <input type="submit" value="创建" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回歌手列表", "Index")
</div>
