@model IEnumerable<SongScreenerMvc.Models.Entity.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>歌手列表</h2>

<p>
    @Html.ActionLink("添加歌手", "Create")
</p>
<table>
    <tr>
        <th>
            歌手名
        </th>
        <th>
            性别
        </th>
        <th>
            类别
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hometown.HometownName)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ArtistID }) |
            @*@Html.ActionLink("详情", "Details", new { id=item.ArtistID }) |*@
            @Html.ActionLink("删除", "Delete", new { id=item.ArtistID })
        </td>
    </tr>
}

</table>
