@model SongScreenerMvc.Models.Song

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Song</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SongName)
            @Html.ValidationMessageFor(model => model.SongName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongArtistID, "Artist")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SongArtistID", String.Empty)
            @Html.ValidationMessageFor(model => model.SongArtistID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongLanguageID, "Language")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SongLanguageID", String.Empty)
            @Html.ValidationMessageFor(model => model.SongLanguageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongGenreID, "Genre")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SongGenreID", String.Empty)
            @Html.ValidationMessageFor(model => model.SongGenreID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongIntonationID, "Intonation")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SongIntonationID", String.Empty)
            @Html.ValidationMessageFor(model => model.SongIntonationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongToneID, "Tone")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SongToneID", String.Empty)
            @Html.ValidationMessageFor(model => model.SongToneID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongRhythmID, "Rhythm")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SongRhythmID", String.Empty)
            @Html.ValidationMessageFor(model => model.SongRhythmID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SongPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SongPath)
            @Html.ValidationMessageFor(model => model.SongPath)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
